body {
    font-family: 'crimpson pro', serif;
    margin: 0;
    padding: 0;
    background-color: #faf5f0;
    color: #5a3826;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    }
.logo img {
    height: 50px;
    margin-left: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 20px 25px;
    text-decoration: none;
    color: #6b4226;
    font-weight: bold;
}
.icons {
    display: flex;
    gap: 15px;
}
.icons img {
    width: 20px;
}
main {
    padding: 40px;
    text-align: center;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.book-history a{
    text-decoration: none;
    color: #000000;
    margin-left: 40px;
    margin-right: 40px;
}
.book-history {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 20px auto; 
    width: fit-content; 
}
.book-entry {
    display: flex;
    align-content: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    width: 900PX;
    }
.book-image {
    width: 100px;
    height: 130px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 30px;
}
.book-details {
    padding-left: 50PX;
    text-align: left;
    flex-grow: 1;
}
.borrow-date {
    color: #d19000;
    font-weight: bold;
}
.due-date {
    color: #d10000;
    font-weight: bold;
}
.borrows {
    background-color: #8b5e3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 13px;
    margin-top: 40px;
    cursor: pointer;
    width: 250px;
}
.borrows:hover {
    background-color: #5a3826;
}
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#5a3826;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    text-align: center;
    color: #ffffff;
    border-radius: 13px;
}