/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

/* Centering the content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F0E4D8;
}

/* Container Styling */
.container {
    text-align: center;
    opacity: 1;
    animation: fadeOut 1s ease-in-out 1.5s forwards;
}

/* Logo Styling */
.logo {
    max-width: 500px;
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

