body {
    font-family: 'crimpson pro', serif;
    text-align: center;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    }
.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding: 20px 25px;
    text-decoration: none;
    color: #6b4226;
    font-weight: bold;
}
.icons {
    display: flex;
    gap: 15px;
}
.icons img {
    width: 20px;
}
.logo img {
    height: 50px;
    margin-left: 20px;
}
h2 {
    color: #70391D;
    font-size: 32px;
    margin-top: 40px;
    margin-right: 720px;
    font-weight: 200;
    margin-bottom: 30px;
    font-weight: bold;
}
.pdf-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px ;
    max-width: 1000px;
    margin: 30px auto;
}
.pdf-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pdf-item p {
    font-size: 20px;
    font-weight: normal;
    color: #70391D;
    margin-bottom: 10px;
}
.pdf-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}
.pdf-item img {
    width: 150px;
    height: auto;
}
.pdf-item a:hover {
    transform: scale(1.1);
}
